## Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
## METHOD 1
SELECT * FROM Worker WHERE JOINING_DATE LIKE '2014-02-%' or JOINING_DATE LIKE '%-02-2014';

## METHOD 2 
SELECT * FROM Worker WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02;

## METHOD 3
SELECT * FROM Worker WHERE JOINING_DATE LIKE "%2014-02%";

## Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
SELECT column_name, COUNT(column_name) FROM Worker GROUP BY FEILD HAVING COUNT(column_name) > 1;

## Q-3. How to remove duplicate rows from Employees table.

In [ ]:
CREATE TABLE Employee (
    ID INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    COUNTRY VARCHAR(50)
);
INSERT INTO Employee VALUES 
(1,'KISHAN','KALARIYA','IND'),
(2,'KISHAN','KALARIYA','IND'),
(3,'KISHAN','KALARIYA','IND'),
(4,'BHAVIK','KALARIYA','ENG'),
(5,'BHAVIK','KALARIYA','ENG'),
(6,'BHAVIK','KALARIYA','ENG');

DELETE a.* from employee a INNER JOIN employee b WHERE a.id > b.id AND a.FIRST_NAME = b.FIRST_NAME AND a.LAST_NAME = b.LAST_NAME AND a.COUNTRY = b.COUNTRY;