## Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT salary FROM Worker e1 WHERE 4 = (SELECT COUNT(DISTINCT salary) FROM Worker e2 WHERE e2.salary > e1.salary);

## Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
## METHOD 1

SELECT a.* FROM Worker a INNER JOIN Worker b ON b.salary = a.salary AND a.FIRST_NAME <> b.FIRST_NAME;

In [ ]:
## METHOD 2

SELECT * FROM Worker WHERE salary IN (SELECT salary FROM Worker GROUP BY salary having COUNT(*) > 1);