## Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
SELECT w.* FROM (SELECT *, ROW_NUMBER() OVER(ORDER BY FIRST_NAME) row_number FROM Worker w) WHERE w.ROW_NUMBER % 2 = 1;

## Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
# Creating a New table
CREATE TABLE CloneWorker(
    Worker_id INT NOT NULL AUTO INCREMENT PRIMARY KEY,
    FIRST_NAME VARCHAR(20),
    LAST_NAME VARCHAR(20),
    SALARY INT,
    DEPARTMENT VARCHAR(20),
    JOINING DATE DATETIME
);

# Create CloneWorker content of a table from another table
INSERT INTO CloneWorker SELECT * FROM Worker;