## Q-1. Write an SQL query to print the first three characters of FIRST_NAME from Worker table.

In [ ]:
# SUBSTRIMG(COLUMN NAME , STARTING POINT, LENGTH)

SELECT SUBSTRING(FIRST_NAME,1,3) FROM Worker;

## Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [ ]:
# Method 1
SELECT LOCATE('a',first name) FROM Worker WHERE first name = 'Amitabh';

#Method 2 
SELECT POSITION('a' in first name) FROM Worker WHERE first name = 'Amitabh';

## Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [ ]:
SELECT first name, last name, department, MAX(salary) FROM Worker GROUP BY department